# **Lista (list)** é uma sequencia ordenada de valores, que são identificados por um índice.

In [13]:
#A ordem importa. Apesar de ter os mesmos elementos, são listas diferentes.
lista1 = [1,2,3,4]
lista2 = [2,1,3,4]
lista1 == lista2   #comparando se são iguais.

False

In [2]:
# Lista com valores heterogêneos
[2, 'a', 5.33, True]

[2, 'a', 5.33, True]

In [4]:
#Lista com elementos nulos
['um', 'dois', None, 4]

['um', 'dois', None, 4]

In [10]:
#Listas aninhadas
lista1 = [0,1]
lista2 = [lista1, 'dois', 'tres', [4,5], 'seis']

In [14]:
# lista vazia
lista = []

In [15]:
# Acesso por indices
lista = [2, 'a', 5.44 , True, None, 'casa']

print(lista[0])
print(lista[3])
print(lista[-1])  #ultimo elemento da lista

2
True
casa

In [18]:
# Acesso por slices
lista = [2, 'a', 5.44 , True, None, 'casa']

print(lista[1:4])
print(lista[-2:])
print(lista[:])  #imprime toda lista
print(lista)  #imprime toda lista

['a', 5.44, True]
[None, 'casa']
[2, 'a', 5.44, True, None, 'casa']
[2, 'a', 5.44, True, None, 'casa']

# Solução do problema de encontrar a maior idade utilizando listas.

In [24]:
#Cria uma lista para armazenar as idades
idades = [13, 45, 29, 76, 21, 41, 9, 33]

# Inicialmente assume que a primeira idade é a maior
maior_idade = idades[0]

# Percorre a lista verificando a maior idade
for idade in idades:
    if idade > maior_idade:
        maior_idade = idade

#exibe a maior idade encontrada
print ('Maior idade: ' , maior_idade)

# uma outra alternativa seria utilizar uma função para retornar o maior valor.
print(max(idades))

Maior idade:  76
76

# Alteração da lista

In [26]:
# Criar uma lista inicial, com elementos heterogêneos
lista = [2, 'a', 'b', 'c', 5.44, True]

In [27]:
# Adiciona um novo elemento na lista método append
lista.append(999)
print(lista)

[2, 'a', 'b', 'c', 5.44, True, 999]

In [28]:
# Altera o valor do quarto e ultimo elemento
lista[3] = 'a'
lista[-1] = lista[-1] + 1
print(lista)

[2, 'a', 'b', 'a', 5.44, True, 1000]

In [29]:
# Adiciona novos elementos. Pode-se utilizar expressões.
lista.append(None)
lista.append(21/2)
lista.append(2==1)
print(lista)

[2, 'a', 'b', 'a', 5.44, True, 1000, None, 10.5, False]